<div class="mainFont">
    <h1>About</h1>
    <p>This site was created with the intention of helping users find a halloween movie to watch. It uses the TMDB API and allows users
    to search through the horror/thriller movie section. Users have the option to search through all movies listed, 
    or have a random selection provided to them.
    </p>
</div>
