<div class="homepage">
    <h1 class="creepyFont">Halloween Movie Finder</h1>
    <div class="mainFont">
        <h4>What would you like to do?</h4>
        <div>
            <button class="inline waves-effect waves-red deep-orange darken-4 btn pulse">Find me a movie</button>

            <!-- if find me a movie button is pressed, -->
            <!-- find a random movie from the list of movies from API -->
            <!-- store movie results in an array? -->
            <!-- pick random movie using math.random? or other method -->
            <form class="inline" action="/allmovies">
                <button class="waves-effect waves-red deep-orange darken-4 btn pulse">View all movies</button>
            </form>
        </div>
    </div>
</div>
        