<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Halloween Movies</title>
</head>
<body>
    <h1>Homepage!</h1>
    <h2>What would you like to do?</h2>
    <form>
        <button>Find me a movie</button>
    </form>
    <form action="/allmovies" method="GET">
        <button>View all movies</button>
    </form>
        
</body>
</html>