<h1>Halloween Movie Finder</h1>
<h2>What would you like to do?</h2>
<div>
    <button class="inline">Find me a movie</button>
    <form class="inline" action="/allmovies">
        <button>View all movies</button>
    </form>
</div>
        