<div class="mainFont resultsBody">
    <h1>Results</h1>
        
    <% movieseight.forEach(m => { %>
        <div>
            <h3><%= m.title %> (<%= m.release_date.substring(0,4)%>) </h3>
            <p><%= m.overview %></p>
        </div>
    <% }) %> 
    
    <p>
        <a href="/allmovies7">Back</a>
        <br>
        <a href="/allmovies9">View More</a>
    </p>
</div>